.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.show.dropdown-menu {
  display: block;
  position: absolute;
}
.dropdown-menu {
    border: none !important;
    /* etc... */
}
.mine {
  background:#f3f3f3;
  length: 100%;
  padding: 2px 4px 0 6px;;
}
.search-link a{
  link:red;
}
.heraw{
  border-radius: 4px;
  width:25%;
  text-size: 24px;
}
